PORT=4000
CLIENT_ORIGIN=http://localhost:5173
DATA_PROVIDER=auto
UPSTREAM_TIMEOUT_MS=8000
HISTORY_UPSTREAM_TIMEOUT_MS=20000
HISTORY_FETCH_CONCURRENCY=1
HISTORY_FETCH_DELAY_MS=500
HISTORY_FETCH_RETRIES=2
HISTORY_RETRY_DELAY_MS=800
DB_PATH=./data/market.sqlite
